/node_modules
/dist
/.cache
/pilets/**/node_modules/
/pilets/**/dist/
/pilets/**/.cache/
/pilets/foodies-checkout-pilet/foodies-checkout-pilet-1.0.5.tgz
/pilets/foodies-checkout-pilet/foodies-checkout-pilet-1.0.6.tgz
/pilets/foodies-dynamic-checkout-pilet/foodies-dynamic-checkout-pilet-1.0.12.tgz
/pilets/foodies-checkout-pilet/foodies-checkout-pilet-1.0.7.tgz
/pilets/foodies-checkout-pilet/foodies-checkout-pilet-1.0.8.tgz
/pilets/foodies-dynamic-checkout-pilet/foodies-dynamic-checkout-pilet-1.0.13.tgz
/pilets/foodies-dynamic-thanks-pilet/foodies-dynamic-thanks-pilet-1.0.3.tgz
/pilets/foodies-menu-pilet/foodies-menu-pilet-1.0.10.tgz
/pilets/foodies-menu-pilet/foodies-menu-pilet-1.0.11.tgz
/pilets/foodies-menu-pilet/foodies-menu-pilet-1.0.12.tgz
/pilets/foodies-menu-pilet/foodies-menu-pilet-1.0.9.tgz
/pilets/foodies-dynamic-checkout-pilet/foodies-dynamic-checkout-pilet-1.0.14.tgz
/pilets/foodies-dynamic-checkout-pilet/foodies-dynamic-checkout-pilet-1.0.15.tgz
/pilets/foodies-menu-pilet/foodies-menu-pilet-1.0.13.tgz
/pilets/foodies-myaccount-addresses-pilet/foodies-myaccount-addresses-pilet-1.0.5.tgz
/pilets/foodies-myaccount-favourites-pilet/foodies-myaccount-favourites-pilet-1.0.5.tgz
/pilets/foodies-myaccount-offers-pilet/foodies-myaccount-offers-pilet-1.0.3.tgz
/pilets/foodies-myaccount-orders-pilet/foodies-myaccount-orders-pilet-1.0.3.tgz
/pilets/foodies-myaccount-payments-pilet/foodies-myaccount-payments-pilet-1.0.3.tgz
/pilets/foodies-myaccount-pilet/foodies-myaccount-pilet-1.0.2.tgz
/pilets/foodies-offers-pilet/foodies-offers-pilet-1.0.3.tgz
/pilets/foodies-resturants-pilet/foodies-resturants-pilet-1.0.4.tgz
/pilets/foodies-thanks-pilet/foodies-thanks-pilet-1.0.4.tgz
/pilets/foodies-track-orders-pilet/foodies-trackorders-pilet-1.0.4.tgz
